asn1crypto==0.22.0
chardet==3.0.4
click==6.7
colorama==0.3.7
cryptography==1.9
decorator==4.1.1
dnspython==1.15.0
docopt==0.6.2
enum34==1.1.6
et-xmlfile==1.0.1
Flask==1.0.2
numpy==1.22.0
opencv-python==3.4.0.12
openpyxl==2.5.3
pathlib2==2.3.0
prettytable==0.7.2
psutil==5.0.1
pycrypto==2.6.1
pyOpenSSL==16.2.0
pysmbc==1.0.15.6
pyxdg==0.25
requests==2.12.4
scandir==1.5
SecretStorage==2.3.1
six==1.10.0
texttable==1.2.1
urllib3==1.19.1
virtualenv==15.2.0
